h1,h2,h3,h4,h5,h6,p,a{
    font-family: "Poppins", sans-serif;
}

.nav-link:hover{
    color: #3F87F5;
}
.nav-item{
    padding-left: 26px;
}

/* nav end */

.carousel-indicators{
    margin-bottom: 0rem;}
 .website-btn1{
     border: none;
     width: 168px;
     background: #fff;
     color: #3F87F5;
     font-weight: 700;
     font-size: 16px;
     height: 44px;
     border-radius: 7px;
  }
 
  .website-margin-top{
     margin-top: 100px;
  }

  /* slider end */

  .momnt-h2{
    font-size: 38px;
    font-weight: 700;
line-height: 60px;
color: #0A0826;
 }

 .momnt-p{
    line-height: 30px;
    font-weight: 500;
    color: #0A0826;
 }
 .icon-arrow{
margin: 10px;
 }

 /* moment section end */

 
 .prc-tk{
    color: #1d1c2c;
    font-size: 25px; 
    padding-bottom: 20px;
 }
 .prc-name{
    color: #1d1c2c;
    font-size: 25px; 
    padding-bottom: 10px; 
 }
 .prc-ptag{
    color: gray;
    line-height: 25px;
 }
 .mt{
    width: 100px;
    width: 300px;
 }
 .mt:hover{
   transform: scale(1.03);
   transition: 0.2s;
 }
 .button-design{
text-decoration: none;
font-size: 15px;
font-weight: 700;
border: 1px solid black;
padding: 14px 74px;
margin-top: 20px;
background-color: rgb(247, 235, 244);
border-radius: 24px;
display: inline-block;
margin-top: 10px;
 }

 .button-design:hover{
    text-decoration: underline;
    transform: scale(1.009);
    transition: 0.3s;

 }
 .different-pricing{
color: #fff;
padding: 20px;
border-radius: 26px;
position: relative;

 }
 .hot-box{
background-color: #FF4E4E;
width: 45px;
border-radius: 20px;
text-align: center;
position: absolute;
top: -10px;
right: 12px;

 }
 .different-pricing h3{
    color: #fff;
 }
 .different-pricing h4{
    color: #fff;
 }
 .different-pricing p{
    color: #fff;
 }
 .different-pricing a{
    background: white;
 
 }
 .different-pricing i{
   color: white !important;
 
 }
 .testimonials-box{
    text-align: center;
    height:353px;
    width: 373px;
    overflow:hidden;
    transition: .5s;
    
     }
     .testimonials-box:hover{height: 409px;
     }
     .testimonials-box:hover img{
       transform: scale(1.1);
       transition: .5s;
    
     }
     .social-item{margin-top: 40px;}
     .social-item a{
       text-decoration: none;
       color: #f1f8ff;
       background-color: #fea116;
       border-radius: 15px 15px 0px 0px;
       padding: 10px;
       font-weight: 500;
       font-size: 15px;
     }
 /* pricing end */

 footer{
    background-color: #0B0D17;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
     }
     .image-sizing{
        width: 135px;
        height: 40px;
     margin-top: 10px;
     }
     .image-sizing:hover{
        transform: scale(1.06);
        transition: 0.3s;
     }
     .edeting{
        margin-top: 75px;
     }